# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\work\aws-node-rest-api-with-dynamodb-and-offline\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
